.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 5.2rem;
  align-self: stretch;
  color: #edc84b;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
}

.header-title::before,
.header-title::after {
  display: block;
  content: "";
  height: 3px;
  width: 5rem;
  background-color: #edc84b;
  position: absolute;
  top: calc(50% - 1px);
}

.header-title::before {
  left: -7rem;
}

.header-title::after {
  right: -7rem;
}
